#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 120px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Courier New", Courier, monospace;
}
