.education-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.education-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.section-header {
  justify-content: flex-start;
  margin: 8px 0px;
}

.education {
  width: 400px;
  height: 300px;
  padding: 32px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.education-block {
  /* display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.education-date-location > *,
.education-school-degree > * {
  margin: 3px;
}

form {
  display: grid;
}

.school {
  font-weight: 700;
  font-size: 1.2rem;
}

.education-info {
  flex: 1;
  margin: 8px;
}

.school-year-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.school-year-container > *,
.degree-container > * {
  margin: 0;
}

.study-school {
  font-weight: 500;
  font-size: 1.3rem;
}
