.education-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.education-container {
  display: flex;
  justify-content: flex-end;
}

.section-header {
  justify-content: flex-start;
  margin: 8px 0px;
}

.education-block {
  /* display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.education-date-location > *,
.education-school-degree > * {
  margin: 3px;
}

form {
  display: grid;
}

.school {
  font-weight: 700;
  font-size: 1.2rem;
}

.education-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0px 8px;
}

.school-degree > * {
  margin: 0;
}

.school-year-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.study-school {
  font-weight: 600;
  font-size: 1.1rem;
}

.study-year-location {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.seperator {
  padding: 4px;
}
