.project-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.project-section {
  display: flex;
  flex-direction: column;
}

.project-name-link-container {
  display: flex;
  align-items: center;
}

.project-name-link-container > p {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;
}

.project-info-container {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  padding-left: 10px;
}

.project-description-container > * {
  margin: 0;
  padding-left: 16px;
}

.projects-container {
  display: flex;
}

.project-stack-info-container {
  display: flex;
  align-items: center;
  gap: 16px;
}
