.project-section {
  display: flex;
  flex-direction: column;
}

.project-info-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 6px;
  height: 30px;
}

.project-description {
  margin: 0px;
  padding-left: 6px;
}

.project-info {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 0px;
}

.project-block {
  margin-bottom: 10px;
  padding-left: 10px;
}

.project-container {
  grid-column: 1;
}
