.resume-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  grid-row: 1 / span 4;
  grid-column: 2;
  padding: 32px;
  height: 1200px;
}

.contact-info > * {
  margin: 0 0px;
  flex: 1;
}

.phone {
  width: fit-content;
}

.resume-title {
  margin: 0;
  font-size: 2.6rem;
  font-weight: 400;
}

.resume-career {
  margin: 0;
  margin-bottom: 4px;
  font-size: 1.4rem;
}

.resume-career,
.resume-title {
  display: flex;
  justify-content: center;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 6px;
}

h3 {
  display: flex;
  justify-content: center;
}

header {
  height: 120px;
  padding: 32px;
  border-bottom: black 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-info {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.contact-info > *,
.contact-links > * {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:hover {
  color: #dc143c;
}

.card,
.card.toggled {
  width: 500px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.card.toggled {
  height: 60px;
}

.card > * {
  padding: 8px;
}

.header-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-toggle > button {
  width: fit-content;
  height: fit-content;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  background-color: #c3b4e5;
  margin: 12px;
}

.header-toggle > * {
  margin: 0;
}

button:active {
  position: relative;
  top: 2px;
}

.delete-btn {
  width: fit-content;
  justify-content: flex-end;
  border-radius: 10px;
  background-color: #ff2c21;
  border: none;
  height: fit-content;
  padding: 8px 16px;
  color: #ffffff;
  font-weight: 700;
}

.delete-container {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}
