.resume-container {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  grid-row: 1 / span 3;
  grid-column: 2;
}

.contact-info > * {
  margin: 0 0px;
  flex: 1;
}

.phone {
  width: fit-content;
}

h1,
h2 {
  margin: 0;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

header {
  height: 120px;
  padding: 32px;
  border-bottom: black 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-info {
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
