.skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skill > p {
  margin: 8px 0px;
}

.skills-container {
  display: flex;
  justify-content: flex-end;
}

.skill-title {
  font-weight: 600;
  font-size: 1.1rem;
}
