.work-experience-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.work-experience-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.work-experience-block > * {
  margin-left: 8px;
}

.work-date-location > *,
.work-company-description > * {
  margin: 6px;
}

.work-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-info-container > p {
  margin: 2px 0px;
}

.work-description {
  padding-left: 6px;
}

.work-description-container > p {
  margin: 6px 0px;
}

.company-position {
  font-weight: 600;
  font-size: 1.1rem;
}
